*{
    margin: 0;
}

.Head{
    display: flex;
    background: rgb(29, 165, 81);
    width: 100vw;
    height: 100px;
    text-align: center;
    line-height: 100px;
    justify-content: space-between;

    .Logo{
        position: relative;
        top: -177px;
    }


.Login_settings{
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
  }
}
    
    .Login_settings{
        
        width: 100px;
    }
    
    .Login{
    background: transparent;
    height: 40px;
}

.Settings{
    background: transparent;
    height: 40px;
    
}
}